{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <title>aside</title>
    <script>
        document.createElement('aside');
        document.createElement('article');
    </script>
    <style>
        aside {
            background: #f0f0f0;
            padding: 10px;
            width: 200px;
            float: right;
        }

        article {
            margin-right: 240px;
            display: block;
        }
    </style>
</head>
<body>
<aside id="sidebar">
    <h2><p><a href="{% url "blog:post_list" %}">My blog</a></p></h2>
    <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
    <h3>Latest posts</h3>
    {% show_latest_posts 3 %}
    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
        {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</aside>
<div id="content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>